.myname{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
h1{
  font-family: 'Montserrat', sans-serif;
 
}

.my-skills-heading{
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
   padding-top: 5%;
   padding-bottom: 3%;
}
h4{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
}
h5{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}



.navbar {
    background-color: #8490ff;
  }
  .navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner {
    background-color: #8490ff;
    width: 100%;
    margin: 0px;
    padding: 0;
    height: 100%;
  }
  
  .myimg {
    height: 550px;
    width: 300px;
    padding-top: 15%;
  }
  
  .bannerintro {
    padding-top: 15%;
    color: white;
  }
  

  .hire{
    margin-top: 5%;
    margin-left: 5%;
  }
  
  
  
  
  /* skills*/
  
.about-me{
  padding-top: 10%;
  font-family: 'Montserrat', sans-serif
  
}


.skill-expertise{
  text-align: center;
  padding-top: 10%;
 padding-left: 2%;
 padding-right: 2%;
  padding-bottom: 7%;
}

.hello{
  
  font-family: 'Montserrat', sans-serif;
 

}


  
  .code{
    height: 380px;
    width: 400px;
    width: 25%;
    height: 25%;
    float: left;
    margin-right:30px;
  
  }
.icon-2{ 
    height: 380px;
    width: 400px;
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;

  }
 

 



  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* circle pic*/
  
  
  .skill-intro{
    background-color: #f9f9ff
  }
  
  .about-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  
  }
  .pd-20{
    padding: 50px;
  }
  .hello{
    margin-left: 12%;
    padding-left: 10%;
    padding-bottom: 2%;
  }
  
  .aboutintro{
   text-align: center;
   width: 75%;
   
  }
  .ml-60{
    margin-left: 60px;
  }
  .ml-50{
    margin-left: 50px;
  }
  
  
  /* */
  
  
  .white-section{
    background-color: white;
  }
  .feature-boxs{
    padding: 7%;
    text-align: center;
  }
  #qualities{
    position: relative;
    padding: 7% 15%;
  }
  
  .icon{
    color: #8490ff;
    margin-bottom: 1rem;
  }

  .icon:hover{
    color: #007bff;
  }
  

.project-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  
}

  /* carousel css*/
  
  
  #myprojects{
    text-align: center;
    padding-bottom: 2%;
    background-color:#8490ff ;
    
   
  }
  .project-intro{
    padding-bottom: 6%;
  }

  .project-link{
    padding-top: 5%;
  }
  
  .project-img{
    height: 450px;
    width: 800px;
  }
  
  #projects{
    background-color: #8490ff;
    
    text-align: center;
    color: #fff ;
  }
  
  .carousel-item{
    padding: 7% 15%;
  
  }


.contact-me{
  margin: 100px;
}
.contact-intro{
  text-align: center;
  color: #8490ff;
  font-family: 'Montserrat', sans-serif;
}
.contact-intro-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #8490ff;

  
}
.developing{
  padding-top: 2%;
}


.hobby{
  width: 40%;
  margin: 40px auto 60px;
  color: #40514e;

}

.btn{
  margin-left: 20px;
}



  
  /* footer*/
  
  #footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #222222;
  }
  .social-icon{
    margin: 20px 10px;
  }
  .follow-me{
    color: #fff;
  }
  .copyright{
    color: white;
  }